body{
    background-color: blue;
    color: crimson;
}

#Wecam{
    border: darkgreen;
    width: 350px;
    height: 300px;
}

.object_that_can_be_identified{
    color: darkorange;
    background-color: paleturquoise;
    
}